/* LandingPage */

.LandingPage{
    display: flex;
}

/* LandingPage Left */

.LandingPage-left{
    width: 45%;
    padding: 5% 8%;
}

.LandingPage-left-line1 span{
    color: red;
}

.LandingPage-left-line2 span{
    color: green;
}

.LandingPage-left-line2{
    font-size: xxx-large;
    font-weight: 700;
}

.LandingPage-left-btn{
    background-color: rgb(255, 208, 0);
    border-radius: 25px;
    padding: 1% 5%;
    margin-top: 5%;
    cursor: pointer;
}

/* Image Part  */

.LandingPage-Imagebackground{
    background-color: forestgreen;
    width: 50%;
}

.LandingPage-Img{
    height: 80vh;
    padding-left: 10%;
}